*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /*Font*/
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    /*Colors*/
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
}